$white: #fff;
$white-secondary: #f5fcff;
$white-dark: #cfd8dc;
$grey: #ccc;
$grey-dark: #dad7d7b1;
$blue-greyed-light: #90a4ae;
$blue-greyed: #607d8b;
$blue-greyed-secondary: #546e7a;
$blue-greyed-dark: #455a64;
$blue-greyed-darker: #37474f;
$red: #ff5353;
$red-dark: #760406;